.products__banner__content {
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding: 4.8rem;
  text-align: left;
  background-color: var(--secondary-gray);
}

.products__banner__box {
  position: relative;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  display: grid;
  overflow: hidden;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  background-color: #fff;
  text-decoration: none;
  color: var(--main-black);
}

.products__banner__box__wrapper {
  padding: 6rem 0 6rem 4rem;
}

.products__banner__box__heading {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.products__banner__box__subheading {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
}

.products__banner__box__description {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: var(--dark-gray);
}

.products__banner__box__image {
  align-self: center;
  justify-self: center;
  width: 200px;
  height: auto;
}

.products__banner__box__arrow {
  position: absolute;
  bottom: -100%;
  left: -100%;
  transition: 0.3s;
  width: 90px;
  height: auto;
}

.products__banner__box:hover .products__banner__box__arrow {
  bottom: 2%;
  left: -5%;
}

@media (max-width: 1300px) {
  .products__banner__content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 940px) {
  .products__banner__content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .products__banner__box {
    flex-direction: column;
    display: flex;
    text-align: center;
  }

  .products__banner__box__wrapper {
    padding: 2rem;
  }

  .products__banner__box__heading {
    font-size: 2.2rem;
  }

  .products__banner__box__subheading {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .products__banner__box__description {
    font-size: 1.2rem;
  }

  .products__banner__box__image {
    width: 150px;
  }

  .products__banner__box__arrow {
    width: 70px;
  }

  .products__banner__box:hover .products__banner__box__arrow {
    top: 33%;
    left: -5%;
  }
}

@media (max-width: 748px) {
  .products__banner__content {
    grid-template-columns: 1fr 1fr;
    padding: 4.8rem 2.4rem;
  }

  .products__banner__box:hover .products__banner__box__arrow {
    top: 33%;
    left: 0%;
  }

  .products__banner__box {
    justify-self: center;
    width: 200px;
  }
}

@media (max-width: 480px) {
  .products__banner__content {
    grid-template-columns: 1fr;
    padding: 4.8rem 2.4rem;
  }

  .products__banner__box {
    justify-self: center;
    width: 250px;
  }

  .products__banner__box__wrapper {
    padding: 2rem 0;
  }
}

@media (max-width: 320px) {
  .products__banner__box {
    justify-self: center;
    width: 200px;
  }
}
